<form class="form-inline" method="POST" action="/newmember">
	<p>
	<h1>Member Information</h1>
</p>

<div>
	<input type="text" name="firstname" value="" placeholder="firstname" />
	<input type="text" name="lastname" value="" placeholder="lastname" />
	<input type="text" name="middlename" value="" placeholder="middlename" />
	<input type="text" name="gender" value="" placeholder="gender" />
	<input type="text" name="martitalstatus" value="" placeholder="martitalstatus" />
	<input type="text" name="phonehome" value="" placeholder="phonehome" />
	<input type="text" name="phonework" value="" placeholder="phonework" />
	<input type="text" name="receievesms" value="" placeholder="receievesms" />
	<input type="text" name="receivecallingposthome" value="" placeholder="receivecallingposthome" />
	<input type="text" name="receivecallingpostwork" value="" placeholder="receivecallingpostwork" />
	<input type="text" name="receivecallingpostmobile" value="" placeholder="receivecallingpostmobile" />
	<input type="text" name="emailaddress" value="" placeholder="emailaddress" />
	<input type="text" name="emailaddressalt" value="" placeholder="emailaddressalt" />
	<input type="text" name="receiveemail" value="" placeholder="receiveemail" />
	<input type="text" name="receiveemailalt" value="" placeholder="receiveemailalt" />
	<input type="text" name="receiveprintnewsletter" value="" placeholder="receiveprintnewsletter" />
	<input type="text" name="dateofbirth" value="" placeholder="dateofbirth" />
	<input type="text" name="membertype" value="" placeholder="membertype" />
	<input type="text" name="comments" value="" placeholder="comments" />
</div>
<p>
	<h1>Address Information</h1>
</p>

<div>
	<input type="text" name="address1" value="" placeholder="address1" />
	<input type="text" name="address2" value="" placeholder="address2" />
	<input type="text" name="city" value="" placeholder="city" />
	<input type="text" name="state" value="" placeholder="state" />
	<input type="text" name="zip" value="" placeholder="zip" />
	<input type="text" name="phone" value="" placeholder="phone" />
	<input type="text" name="country" value="" placeholder="country" />
</div>

<p> </p>
<div>
    <button type="submit" class="btn btn-primary">Submit via HTML</button>
</div>

</form>